* {
  box-sizing: border-box;
}

body {
  background-color: #fcf3f6;
  font-family: sans-serif;
  margin: 0;
}
h1 {
  font-size: 2.5rem;

  color: #2c292b;
}
h2 {
  font-size: 1.5rem;
  padding: 0.5rem;
  text-align: center;
}

.btn {
  background-color: tomato;
  font-weight: bold;
  color: whitesmoke;
  border-color: tomato;
  border-radius: 0.25rem;
  min-width: 20%;
  margin: 1rem 1rem;
  padding: 0.25rem 0.25rem;
}

.btn--alt {
  background-color: whitesmoke;
  color: tomato;
  border-color: tomato;
}

.card {
  background-color: whitesmoke;
  margin: 1rem 3rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.modal {
  background-color: whitesmoke;
  position: fixed;
  z-index: 10;
  text-align: center;
  top: 20vh;
  align-self: center;
  margin-left: 30%;
  margin-right: 30%;
  min-width: 40%;
  border-color: tomato;
  border-width: 5px;
  border-style: none;
  border-radius: 0.5rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.75);
  top: 0;
  left: 0;
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 100vh;
}
